If:
    PathExclude: build/.*
CompileFlags:
    Add: [-Wall, -Wextra]
Diagnostics:
    ClangTidy:
        Add: '*'
        Remove:
            - 'llvmlibc-restrict-system-libc-headers'
            - 'altera-unroll-loops'
            - 'readability-identifier-length'
    MissingIncludes: Strict
    UnusedIncludes: Strict
