# As many checks as reasonable
If:
    PathExclude: build/.*
CompileFlags:
    Add: [-Wall, -Wextra]
Diagnostics:
    ClangTidy:
        Add: '*'
        Remove:
            - 'llvmlibc-restrict-system-libc-headers'
    UnusedIncludes: Strict
    MissingIncludes: Strict
