Language: Cpp
BasedOnStyle: Microsoft
# LF. No empty lines except for EOF.
ColumnLimit: 80
DeriveLineEnding: false
IndentPPDirectives: BeforeHash
InsertBraces: true
InsertNewlineAtEOF: true
LineEnding: LF
MaxEmptyLinesToKeep: 0
PointerAlignment: Left
UseCRLF: false
